@font-face {
    font-family: Gordita;
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Gordita-Regular.woff");
}

@font-face {
    font-family: Gordita-Bold;
    font-style: bold;
    font-weight: 400;
    src: url("../assets/fonts/Gordita-Bold.woff");
}

@font-face {
    font-family: Gordita-Medium;
    font-style: bold;
    font-weight: 400;
    src: url("../assets/fonts/Gordita-Medium.woff");
}

html {
    box-sizing: border-box;
}

*, *::before, * ::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: Gordita-Bold;
    font-style: normal;
    font-size: 18px;
    list-style: 1.2;
    color: #272727;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    backdrop-filter: blur(24px);
}

.header_nav {
    text-align: center;
    font-style: bold;
}

.header_logo {
    /*
margin-right: 157px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.header_nav-list {
    /* margin-right: 66px; */
}

.header_nav-list-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 54px;
}

.header_nav-list-item-link {
    font-weight: normal;
    color: #272727;
    text-decoration: none;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    /* margin: auto;
*/
    width: 164px;
    height: 48px;
    text-align: center;
    border: 2px solid #6935FD;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    font-weight: normal;
    text-decoration: none;
    font-feature-settings: 'ss01' on;
    color: #6935FD;
}

.center {
    font-family: Gordita-Medium;
    margin-top: 184px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.04em;
    font-feature-settings: 'ss01' on;
    color: #272727;
}

.descrip {
    margin-top: 86px;
    text-align: center;
    font-family: Gordita-Medium;
    font-size: 22px;
    line-height: 38px;
    font-feature-settings: 'ss01' on;
    color: #616161;
}

.search_bar {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 70px;
    background: white;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.search_bar-bar {
    width: 450px;
    height: 50px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
    color: #A8A8A8;
    border: none;
    outline: none;
}

.button-submit {
    font-family: Gordita;
    font-size: 18px;
    width: 175px;
    height: 46px;
    background: #6935FD;
    border-radius: 2px;
    color: white;
    margin-right: 12px;
    border: none;
    outline: none;
}

.divider {}

.ellipse {
    width: 24px;
    height: 24px;
    margin-left: 23px;
}

.lastserchset {
    margin-top: 56px;
}

.lastsearch {
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 70px;
    background: white;
    border-radius: 4px;
}

.lastsearchref {
    text-decoration: none;
}

.location {
    width: 360px;
    height: 26px;
    margin-left: 32px;
    margin-right: 45px;
    font-family: Gordita-Medium;
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: 'ss01' on;
    color: #272727;
}

.filter {
    width: 16px;
    height: 16px;
}

.filterText {
    width: 229px;
    height: 19px;
    font-family: Gordita;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
    color: #616161;
}

.rightImg {
    width: 16px;
    height: 16px;
}

.circle {
    fill: #A8A8A8;
    left: calc(50% - 6.5px/2 - 3.75px);
    top: calc(50% - 6.5px/2 - 3.25px);
}

.footer {
    margin-top: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Gordita;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss01' on;
    color: #A8A8A8;
}

.footerNavUl {
    text-align: center;
    display: flex;
    list-style-type: none;
}

.footerNavItem {
    margin-right: 20px;
}

.footerLink {
    color: #A8A8A8;
    text-decoration: none;
}